
.logoAlex{
    width: 5%;
    filter: invert(1);
    justify-self: flex-end;
}

#navColor{
    background-color:#7e22ce;
}

#htp{
    position: relative;
    top: 2rem;
    right: .4rem;
}

.modalRules {
    list-style-type: decimal;
    padding-left: 20px;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

.rulesText{
    font-size: larger;
    font-weight: bolder;
}

#cod{
    cursor: pointer;
}

#footer{
    margin-top: 39.9vh;
}
#footer2{
    margin-top: auto;
    
   
}
#footer3{
    margin-top: auto;
    position: relative;
    top: 1.3%;
    
   
}

body{
    overflow: hidden;
   
   
}

#gameContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#questionsContainer{
    display: flex;
    height:90% ;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.questionlist{
    width: auto;
    height: auto;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
}

.last2questions li{
    
    display: block;
}

.container2{
    width: 100%;
    height: 93.1vh;
    display: flex;
    flex-direction: column;
}
#questionos{
    font-size: xx-large;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 1rem;

}

#cuestionamientos{
    font-size:x-large;
    font-weight: bold;
    justify-content: flex-start;
    align-self: center;
   margin-bottom:35%;
   position: relative;
   right: 18%;
}

#questionBoard{
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#button1{
    display:flex ;
    max-height: 20px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;   
}
#button2{
    display:flex ;
    max-height: 20px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;  
}
#button3{
    display:flex ;
    max-height: 20px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    white-space:nowrap;  
}
#button4{
    display:flex ;
    max-height: 20px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;  
}

#scoreForm{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10vh;
}

#scoreForm{
   
}
#submitButon{
    align-self: center;
}

#socoreCard{
    top: 4rem;
    position: relative;
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   white-space: wrap;
}

#socoreCard h1 {
    padding-bottom: 1%;
    font-size: xx-large;
    font-weight: bolder;
}
#socoreCard h2 {
    padding-bottom: 1%;
    font-size: xx-large;
    font-weight: lighter;
}

#butCont{
    display: flex;
    width: 178px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    body {
      /* font-size: 14px; Adjust the font size for smaller screens */
      overflow: scroll;
    }
}